<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="db">
        <mapping resource="swen/data/Article.hbm.xml" />
        <mapping resource="swen/data/Tag.hbm.xml" />
        <mapping resource="swen/data/Category.hbm.xml" />
        <mapping resource="swen/data/User.hbm.xml" />
        <mapping resource="swen/data/Suggestion.hbm.xml" />
        <mapping resource="swen/data/View.hbm.xml" />
    </session-factory>
</hibernate-configuration>
